@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300&display=swap');
 :root {
    --main-color: #ec821e;
    --black: #555;
    --light-color: #777;
    --bg: #f7eec5;
    --btn: #fff;
    --border: .1rem solid rgba(0, 0, 0, .1);
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    --main-bg: #fff;
    --clr-ajay: hsl(29 100% 54%);
    --clr-bg1: hsl(33 21% 16%);
}

body.dark-theme {
    --main-color: #ec821e;
    --main-bg: rgb(70, 70, 70);
    --black: rgb(190, 190, 190);
    --light-color: rgb(175, 175, 175);
    --bg: #413e34;
    --btn: rgb(51, 51, 51);
    --border: .1rem solid rgba(255, 255, 255, 0.2);
    --box-shadow: 0 .5rem 1.5rem rgba(255, 255, 255, 0.2);
    --clr-bg1: rgb(255, 238, 200);
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .3s ease-out;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
    overflow-x: hidden;
}

section {
    padding: 2rem 9%;
    background: var(--main-bg);
}

.ajay {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    border: var(--clr-ajay) .125em solid;
    padding: 1em 2.5em;
    border-radius: 0.5em;
    color: var(--clr-ajay);
    box-shadow: inset 0 0 .5em 0 var(--clr-ajay), 0 0 .5em 0 var(--clr-ajay);
    position: relative;
    z-index: 2;
}

.ajay::before {
    pointer-events: none;
    content: '';
    position: absolute;
    background: var(--clr-ajay);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1.2em);
    opacity: 0.7;
    transition: background-color 100ms linear;
}

.ajay:hover,
.ajay:focus {
    color: #fff;
    text-shadow: none;
}

.ajay::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    box-shadow: 0 0 2em .5em var(--clr-ajay);
    opacity: 0;
    background: var(--clr-ajay);
    z-index: -1;
}

.ajay:hover::after {
    opacity: 1;
}

.ajay:hover::before {
    opacity: 1;
}

.ajay11 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    border: var(--clr-ajay) .125em solid;
    padding: 1em 2.5em;
    border-radius: 0.5em;
    color: var(--clr-ajay);
    box-shadow: inset 0 0 .5em 0 var(--clr-ajay), 0 0 .5em 0 var(--clr-ajay);
    position: relative;
    z-index: 2;
}

.ajay11:hover,
.ajay11:focus {
    color: #fff;
    text-shadow: none;
}

.ajay11::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    box-shadow: 0 0 2em .5em var(--clr-ajay);
    opacity: 0;
    background: var(--clr-ajay);
    z-index: -1;
}

.ajay11:hover::after {
    opacity: 1;
}

body.on {
    background: radial-gradient(#555, #111);
}

.bulb {
    position: relative;
    width: 80px;
    height: 80px;
    background-color: #444;
    border-radius: 50%;
    z-index: 2;
}

body.on .bulb {
    background: #fff;
    box-shadow: 0 0 50px #fff, 0 0 100px #fff, 0 0 150px #fff, 0 0 200px #fff, 0 0 250px #fff, 0 0 300px #fff, 0 0 350px #fff,
}

.bulb::before {
    content: '';
    position: absolute;
    height: 80px;
    width: 35px;
    background-color: #444;
    left: 22.5px;
    top: -50px;
    border-top: 30px solid #000;
    border-radius: 10px;
}

body.on .bulb::before {
    background: #fff;
}

body.on .bulb::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 120px;
    background: #fff;
    border-radius: 50%;
    filter: blur(40px);
}

.bulb span:nth-child(1) {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    box-shadow: 20px 20px 0 10px #444;
    border-bottom-right-radius: 40px;
    top: -12px;
    left: -4px;
    background: transparent;
    transform: rotate(342deg);
}

body.on .bulb span:nth-child(1) {
    box-shadow: 20px 20px 0 10px #fff;
}

.bulb span:nth-child(2) {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    box-shadow: -20px 20px 0 10px #444;
    border-bottom-left-radius: 40px;
    top: -16px;
    right: -4px;
    background: transparent;
    transform: rotate(17deg);
}

body.on .bulb span:nth-child(2) {
    box-shadow: -20px 20px 0 10px #fff;
}

.heading {
    text-align: center;
    padding-bottom: 3rem;
    font-size: 4rem;
    color: var(--black);
}

.content span {
    padding-left: 27%;
    color: var(--main-color);
}

.heading span {
    color: var(--main-color);
    border-radius: .5rem;
    background: var(--bg);
    padding: 0 1.5rem;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    color: var(--btn);
    background: var(--main-color);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 0%;
    background: var(--black);
    z-index: -1;
    transition: .2s ease-out;
}

.btn:hover::before {
    left: 0;
    width: 100%;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: var(--btn);
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
}

.header .logo {
    font-size: 2.5rem;
    color: var(--black);
    font-weight: bolder;
}

.header .navbar a {
    font-size: 1.7rem;
    color: var(--light-color);
    margin-left: 2rem;
}

.header .navbar a:hover {
    color: var(--main-color);
}

#menu-btn {
    cursor: pointer;
    font-size: 2.5rem;
    padding: 1rem 1.3rem;
    border-radius: .5rem;
    color: var(--main-color);
    background: var(--bg);
    display: none;
}

#menu-btn:hover {
    color: var(--btn);
    background: var(--main-color);
}

.home {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 10rem;
    background: var(--bg);
    position: relative;
}

.home .content {
    flex: 1 1 45rem;
}

.home .image {
    flex: 1 1 45rem;
    position: relative;
    padding-left: 30rem;
    top: 20rem;
    padding-bottom: 55rem;
}

.home .content h3 {
    font-size: 3.5rem;
    color: var(--black);
    line-height: 1.8;
}

.home .content p {
    font-size: 1.7rem;
    color: var(--light-color);
    line-height: 1.8;
    padding: 1rem 0;
}

.home .cloud {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 18rem;
    background-size: 250rem 18rem;
    background: url(../images/cloud.png) repeat-x;
    animation: cloud 30s linear infinite;
}

@keyframes cloud {
    0% {
        background-position-x: 0rem;
    }
    100% {
        background-position-x: -250rem;
    }
}

.home .cloud-1 {
    opacity: .5;
    height: 20rem;
    background-size: 250rem 20rem;
    animation-direction: reverse;
    animation-duration: 20s;
}

.services .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 1.5rem;
}

.services .box-container .box {
    text-align: center;
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding: 4rem 2rem;
}

.services .box-container .box img {
    height: 10rem;
}

.services .box-container .box h3 {
    color: var(--black);
    font-size: 2.5rem;
    padding-top: 1.5rem;
}

.services .box-container .box p {
    color: var(--light-color);
    font-size: 1.5rem;
    padding: 1rem 2rem;
    line-height: 1.8;
}

.about .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.about .row .image {
    flex: 1 1 45rem;
    padding: 2rem;
}

.about .row .image img {
    width: 100%;
}

.about .row .content {
    flex: 1 1 45rem;
}

.about .row .content .title {
    font-size: 3rem;
    color: var(--black);
}

.about .row .content p {
    font-size: 1.5rem;
    color: var(--light-color);
    line-height: 1.8;
    padding: 1rem 0;
}

.about .row .content .icons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 2rem;
}

.about .row .content .icons-container .icons {
    flex: 1 1 15rem;
    border-radius: .5rem;
    border: var(--border);
    padding: 1.5rem;
    text-align: center;
}

.about .row .content .icons-container .icons i {
    border-radius: 50%;
    background: var(--bg);
    color: var(--main-color);
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
}

.about .row .content .icons-container .icons h3 {
    color: var(--light-color);
    font-size: 1.6rem;
    padding-top: 1rem;
}

.price1 {
    padding-top: 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 1.5rem;
}

.empty {
    clip-path: polygon(0 0, 100% 1%, 100% 75%, 0 26%);
    background-color: gold;
    width: 350px;
    height: 250px;
    top: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.container1:hover .empty {
    clip-path: polygon(0 0, 100% 1%, 100% 18%, 1% 64%);
}

.container1 {
    width: 350px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #3c3c3c;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, .2);
}

.container1:hover {
    height: 450px;
}

.card1 .image11 {
    position: absolute;
    top: 40%;
    left: 20%;
    width: 250px;
    height: auto;
}

.container1:hover .card1 .image11 img {
    top: 20%;
}

.card1 .info {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
}

.card1 .info li {
    list-style: none;
    margin: 0 20px;
    color: #000;
    font-size: 1.2rem;
    background: gold;
    width: 20px;
    text-align: center;
    cursor: pointer;
    display: none;
}

.container1:hover .card1 .info {
    display: block;
}

.card1 .info li:hover {
    background: transparent;
    color: #fff;
    border: 1px solid gold;
}

.card1 .button {
    position: absolute;
    top: 73%;
    left: 30%;
}

.card1 .button button {
    width: 140px;
    height: 50px;
    color: black;
    border-radius: 20px;
    background-color: gold;
    border: 2px solod gold;
    font-size: 1.2rem;
    cursor: pointer;
    opacity: 0;
}

.container1:hover .card1 .button button {
    opacity: 1;
}

.card1 .button button :hover {
    color: gold;
    background-color: transparent;
}

.card {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";
    border-radius: 18px;
    background: var(--bg);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    font-family: roboto;
    text-align: center;
    transition: 0.5s ease;
    cursor: pointer;
    margin: 30px;
}

.card-image {
    grid-area: image;
}

.card-text {
    grid-area: text;
}

.card-stats {
    grid-area: stats;
}

.card-image {
    grid-area: image;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card-text {
    grid-area: text;
    margin: 25px;
}

.card-text .date {
    color: var(--main-color);
    font-size: 13px;
}

.card-text p {
    color: grey;
    font-size: 15px;
    font-weight: 300;
}

.card-text h2 {
    margin-top: 0px;
    font-size: 28px;
}

.card-stats {
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: var(--main-color);
}

.card-stats .stat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: 1.5rem;
    row-gap: 1rem;
    padding: 10px;
}

.card:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.review .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.carding {
    position: relative;
    width: 300px;
    height: 420px;
    box-shadow: 0 5px 10px var(--box-shadow);
    overflow: hidden;
    justify-self: center;
}

.a1 {
    background: url(../images/a1.jpeg) center/cover;
}

.a2 {
    background: url(../images/a2.jpg) center/cover;
}

.a3 {
    background: url(../images/a3.png) center/cover;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    transition: 0.7s;
    opacity: 0.7;
}

.contening {
    position: absolute;
    bottom: 0;
    height: 170px;
    width: 100%;
    display: flex;
    padding: 0 10px;
    flex-direction: column;
    justify-content: space-evenly;
    transform: translateY(200px);
    transition: 0.3s;
}

.name {
    position: relative;
    padding: 3px 0;
}

.name::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: 0.4s;
    transition-delay: 0.5s;
}

.contening p {
    font-size: 13px;
}

.contening a {
    display: block;
    height: 50px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    border: 2px solid var(--border);
    color: #fff;
}

.carding:hover .overlay {
    opacity: 1;
}

.carding:hover .contening {
    transform: translateY(0);
}

.carding:hover .name::after {
    width: 100%;
}

.contact .icons-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.contact .icons-container .icons {
    padding: 2.5rem;
    text-align: center;
    border: var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}

i {
    color: var(--main-color);
}

.contact .icons-container .icons i {
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    font-size: 2.5rem;
    color: var(--main-color);
    background: var(--bg);
    border-radius: 50%;
}

.contact .icons-container .icons h3 {
    color: var(--black);
    padding: 1rem 0;
    font-size: 2.5rem;
}

.contact .icons-container .icons p {
    color: var(--light-color);
    line-height: 1.8;
    font-size: 1.5rem;
}

.contact .row {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.contact .row .map {
    flex: 1 1 45rem;
    width: 100%;
    padding: 2rem;
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
}

.contact .row form {
    flex: 1 1 45rem;
    padding: 2rem;
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
}

.contact .row form .box {
    margin: .7rem 0;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--black);
    border-radius: .5rem;
    border: var(--border);
    background: #f7f7f7;
    text-transform: none;
    width: 100%;
}

.contact .row form .box:focus {
    background: var(--bg);
}

.contact .row form textarea {
    height: 20rem;
    resize: none;
}

.contact .row form .btn:hover {
    background: var(--black);
}

.footer {
    margin-top: 1rem;
    background: var(--bg);
    padding-bottom: 9rem;
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3 {
    font-size: 2.5rem;
    padding: 1rem 0;
    color: var(--black);
}

.footer .box-container .box a {
    display: block;
    font-size: 1.5rem;
    padding: 1rem 0;
    color: var(--light-color);
}

.footer .box-container .box a i {
    padding-right: .5rem;
    color: var(--main-color);
}

.footer .box-container .box a:hover i {
    padding-right: 2rem;
}

.footer .credit {
    color: var(--black);
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    padding-top: 2rem;
    font-size: 2rem;
}

.footer .credit span {
    color: var(--main-color);
}

.flip {
    width: 7%;
    color: var(--main-color);
}


/* media queries  */

@media (max-width:1024px) {
    .home .image {
        position: relative;
        top: -2rem;
        padding-left: 40%;
        padding-bottom: 20%;
    }
}

@media (max-width:991px) {
    html {
        font-size: 55%;
    }
    .header {
        padding: 2rem;
    }
    section {
        padding: 2rem;
    }
    .home .image {
        position: relative;
        padding-left: 40%;
        padding-bottom: 20%;
    }
}

@media (max-width:768px) {
    #menu-btn {
        display: initial;
    }
    .header .navbar {
        position: absolute;
        top: 115%;
        right: 2rem;
        background: #fff;
        box-shadow: var(--box-shadow);
        border: var(--border);
        border-radius: .5rem;
        width: 30rem;
        transform: scale(0);
        transform-origin: top right;
        opacity: 0;
    }
    .header .navbar.active {
        transform: scale(1);
        opacity: 1;
    }
    .header .navbar a {
        font-size: 2rem;
        display: block;
        padding: 1rem;
        margin: 1rem;
        border-radius: .5rem;
    }
    .header .navbar a:hover {
        background: var(--bg);
    }
    .home .content {
        text-align: center;
    }
    .home .image {
        position: relative;
        padding-left: 44%;
        padding-bottom: 30%;
        top: 9rem;
    }
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }
    .content span {
        padding-left: 40%;
        color: var(--main-color);
    }
    .home .image {
        position: relative;
        padding-left: 40%;
        padding-bottom: 50%;
        top: 9rem;
    }
}

@media (max-width:360px) {
    .home .image {
        position: relative;
        padding-left: 40%;
        padding-bottom: 50%;
        top: 9rem;
    }
}

.label {
    cursor: pointer;
    width: 50px;
    height: 26px;
    background-color: #000;
    display: flex;
    padding: 5px;
    justify-content: space-between;
    position: relative;
    border-radius: 50px;
}

body.dark {
    background-color: black;
}

.fa-moon {
    align-self: center;
    color: #f1c40f;
}

.fa-sun {
    align-self: center;
    color: #f39c12;
}

.ball {
    width: 22px;
    height: 22px;
    background-color: #fff;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform .2s linear;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox:checked+.label .ball {
    transform: translateX(24px);
    background-color: #000;
}

.checkbox:checked+.label {
    background-color: #f7eec5;
}

.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    opacity: 0.8;
    padding: 0 0.3rem;
    border-radius: 0.4rem;
    transition: 1s;
}

.show-scroll {
    bottom: 5rem;
}

.scrollup-icon {
    font-size: 4.5rem;
}

#homeji {
    color: #ec821e;
}

#homeji:hover {
    color: #000;
}

.text-box {
    position: relative;
    width: 38rem;
    height: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-box h1 {
    color: var(--clr-bg1);
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-shadow: 0 0 30px var(--clr-ajay), 0 0 50px var(--clr-ajay), 0 0 70px var(--clr-ajay), 0 0 110px var(--clr-ajay), 0 0 150px var(--clr-ajay);
}

.line {
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 90%;
    border-radius: 10px;
    background: var(--clr-bg1);
    z-index: 2;
    box-shadow: 0 0 10px var(--clr-ajay), 0 0 20px var(--clr-ajay), 0 0 40px var(--clr-ajay), 0 0 80px var(--clr-ajay), 0 0 120px var(--clr-ajay);
    animation: AnimateLine 3s linear infinite;
}

@keyframes AnimateLine {
    0%,
    5% {
        transform: scaleY(0) translateX(0);
    }
    10% {
        transform: scaleY(1) translateX(0);
    }
    90% {
        transform: scaleY(1) translateX(calc(38rem - 1rem));
    }
    95%,
    100% {
        transform: scaleY(0) translateX(calc(38rem - 1rem));
    }
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    filter: blur(2rem);
    background: var(--bg);
    animation: AnimateLayer 6s linear infinite
}

@keyframes AnimateLayer {
    0%,
    2.5% {
        transform: translateX(0);
    }
    5% {
        transform: translateX(0);
    }
    45% {
        transform: translateX(100%);
    }
    47.5%,
    50% {
        transform: translateX(100%);
    }
    50.001%,
    52.5% {
        transform: translateX(-100%);
    }
    55% {
        transform: translateX(-100%);
    }
    95% {
        transform: translateX(0%);
    }
    97.5%,
    100% {
        transform: translateX(0%);
    }
}

.button {
    position: relative;
}

.button img {
    display: none;
    position: absolute;
    top: 2em;
    left: 1em;
    padding: 0;
    margin: 0;
    border-radius: 1em;
}

.button:focus img,
.button:hover img {
    z-index: 3;
    display: block;
    top: -30rem;
    left: 23rem;
}

.button:focus .img22,
.button:hover .img22 {
    z-index: 3;
    display: block;
    position: absolute;
    top: -30rem;
    left: -20rem;
}